body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#username{
    margin: 10PX -10PX;
}
#password{
    margin: 10px -10px;
}
.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn-login {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 40px;
}

.btn-login:hover {
    background-color: #0056b3;
}
